:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 600px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  max-height: 300px;
  overflow-y: auto;
}

.question-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 1em #00000033;
}

h4.correct {
  color: #4caf50;
}

h4.incorrect {
  color: #f44336;
}

.coospace-question {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  padding: 1em;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 1em #00000033;
}

.coospace-question .answer_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.coospace-question .state.on {
  width: 16px;
  height: 16px;
}

.coospace-question .state.n.on {
  background-color: #f44336;
  color: white;
  content: 'N';
}

.coospace-question .state.y.on {
  background-color: #4caf50;
  color: white;
  content: 'Y';
}

.coospace-question .state.na.on {
  background-color: #ffeb3b;
  color: #000;
  content: 'N/A';
}

.coospace-question input[type='radio'] {
  display: none;
}

.coospace-question input[type='radio'][checked] {
  display: block;
  background-color: #4caf50;
}